@import 'variables';

.navbar-default {
  background-color: transparent;
  border-color: transparent;

  .navbar-collapse {
    background-color: $navbar-default-bg;
  }
}

.navbar-toggle {
  background-color: #fff;
}

